<!doctype html>
<title>View Feedback </title>
<section>
  <a href="/">Log Out</a>
  <h1>View Feedback</h1>
  <h2>How was the accuracy of prediction?</h2>
  <img src="data:image/png;base64, {{ plot_url1 }}">
  <h2>Would users recommend this to anyone?</h2>
  <img src="data:image/png;base64, {{ plot_url2 }}">
  <h2>How was this application according to you?</h2>
  <img src="data:image/png;base64, {{ plot_url3 }}">
  <h2>How did users like the Speech recognition feature?</h2>
  <img src="data:image/png;base64, {{ plot_url4 }}">
</section>